
<%- include("partials/header"); -%>


    <h1 style="text-align:center;"><%=title%></h1>
    <div style="text-align:center">

      <img src="public/<%=image %>" alt="<%=image %>" style="text-align:center; border-radius:100%">
    </div>

    <p><%=content%></p>



<%- include("partials/footer"); -%>
